@using GMS.Framework.Contract
@using GMS.Framework.Utility
@using GMS.Framework.Web.Controls
@using GMS.Project.Contract

@model PagedList<InsMaterialCost>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PageSpecificStyleSheetIncludes{
    <style type="text/css">
       
    </style>
}



<div class="row-fluid">
    <div class="span4">
        <div>
            <a class="btn red" id="delete" href="javascript:;"><i class="icon-trash icon-white"></i>删除</a>
            <a class="btn blue thickbox" title='添加材料费预算' href="@Url.Action("Create")?TB_iframe=true&height=650&width=1000"><i class="icon-plus icon-white"></i>新增</a>

        </div>
    </div>

    <div class="span8">
        @using (Html.BeginForm(null, null, null, FormMethod.Get, new { id = "search" }))
        { 
            <div class="dataTables_filter">
                <label>
                    <button type="submit" class="btn">搜索 <i class="icon-search"></i></button>
                </label>
                 <label>
                    <span>项目：</span>
                    @Html.DropDownList("ProjectBasedataID", "所有项目")
                </label>
            </div>
        }
    </div>
</div>


@using (Html.BeginForm("Delete", "IMaterial", FormMethod.Post, new { id = "mainForm" }))
{
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th style="width: 8px;">
                    <input type="checkbox" id="checkall" class="group-checkable" />
                </th>           
                <th>项目名称
                </th>
            
                <th>日期
                    </th>
                <th>钢材
                </th>
                <th>朔料管件及配件
                </th>
                <th>水泥及制品
                </th>

                <th>灰油
                </th>
                <th>电线电缆
                </th>
                <th>木竹及制品
                </th>
                <th>瓷砖类
                </th>
                <th>门窗型材及配件类
                </th>
                <th>玻璃及配件
                </th>

                <th>零星五金类
                </th>
                <th>电气及配件
                </th>

                <th>混凝土
                </th>
                <th>砖
                </th>
                <th>模板
                </th>
                <th>铝材
                </th>
                <th>材料检测费
                </th>
                <th>
                    砂浆王
                </th>
                <th>消防、通风、排烟
                </th>
                <th>周转材料租赁
                </th>
                <th>周转材料摊销
                </th>
                <th>其他材料费用
                </th>
                <th>
                    总额
                </th>
                <th>
                    备注
                </th>
                <th>操作
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" class="checkboxes" name='ids' value='@m.ID' />
                    </td>

                    @* <td>
                        @m.ProjectID
                    </td>*@
                    <td>
                       @m.ProjectBasedata.PName
                    </td>
                       <td>
                        @m.Date
                    </td>
                    <td>
                             @(m.MSteel == null ? "未预算" : ((int)m.MSteel).ToString("N0"))
                    </td>
                    <td>
                           @(m.MHose == null ? "未预算" : ((int)m.MHose).ToString("N0"))
                    </td>

                    <td>
                         @(m.MCement == null ? "未预算" : ((int)m.MCement).ToString("N0"))
                    </td>

                    <td>
                          @(m.MGrayOil == null ? "未预算" : ((int)m.MGrayOil).ToString("N0"))

                    </td>
                    <td>
                       @(m.MWire == null ? "未预算" : ((int)m.MWire).ToString("N0"))

                    </td>
                    <td>
                     
                              @(m.MWood == null ? "未预算" : ((int)m.MWood).ToString("N0"))
                    </td>
                    <td>
                         @(m.MCeramicTile == null ? "未预算" : ((int)m.MCeramicTile).ToString("N0"))

                    </td>
                    <td>
                         @(m.MWindowsDoors == null ? "未预算" : ((int)m.MWindowsDoors).ToString("N0"))

                    </td>
                    <td>
                            @(m.MGalss == null ? "未预算" : ((int)m.MGalss).ToString("N0"))

                    </td>

                    <td>
                        @(m.MHardware == null ? "未预算" : ((int)m.MHardware).ToString("N0"))

                    </td>
                    <td>
                          @(m.MElectric == null ? "未预算" : ((int)m.MElectric).ToString("N0"))

                    </td>
                    <td>
                            @(m.MConcrete == null ? "未预算" : ((int)m.MConcrete).ToString("N0"))

                    </td>
                    <td>
                           @(m.MBrick == null ? "未预算" : ((int)m.MBrick).ToString("N0"))

                    </td>
                    <td>
                           @(m.MTemplate == null ? "未预算" : ((int)m.MTemplate).ToString("N0"))

                    </td>
                    <td>
                          @(m.MAluminum == null ? "未预算" : ((int)m.MAluminum).ToString("N0"))

                    </td>
                    <td>
                          @(m.MTest == null ? "未预算" : ((int)m.MTest).ToString("N0"))

                    </td>
                    <td>
                        @(m.MMortar == null ? "未预算" : ((int)m.MMortar).ToString("N0"))

                    </td>
                    <td>
                         @(m.MFireAirSmoke == null ? "未预算" : ((int)m.MFireAirSmoke).ToString("N0"))

                    </td>
                    <td>
                          @(m.MOther == null ? "未预算" : ((int)m.MTurnoverRent).ToString("N0"))
                    </td>
                    <td>
                          @(m.MOther == null ? "未预算" : ((int)m.MTurnovers).ToString("N0"))
                    </td>
                    <td>
                       @(m.MOther == null ? "未预算" : ((int)m.MOther).ToString("N0"))
                    </td>
                    <td>
                         @((m.MaterialTotal).ToString("N0"))
                    </td>
                    <td>
                        @m.Remark
                    </td>

                    <td style="width: 70px">
                        <a class="btn mini purple thickbox" title='编辑材料费预算' href="@Url.Action("Edit", new { id = m.ID })?TB_iframe=true&height=650&width=1000">
                            <i class="icon-edit"></i>
                            编辑
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="dataTables_paginate paging_bootstrap pagination">
    @Html.Pager(Model, new PagerOptions() { ShowTotalItemCount = true })
</div>

