@using GMS.Framework.Contract
@using GMS.Framework.Utility
@using GMS.Framework.Web.Controls
@using GMS.Project.Contract

@model InsOverhead
@{
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}
@section PageSpecificStyleSheetIncludes{
}
@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
    </script>
}
@section MainContent{
    <div class="portlet-body form-horizontal form-bordered form-row-stripped">
        <div class="row-fluid">
            <div class="control-group">
                <label class="control-label"><span class="required">*</span>项目名称：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.ProjectName, new { @class = "m-wrap" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.ProjectName)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">现场管理人员工资：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OPay, new { @class = "m-wrap small" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OPay)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">奖金：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OBonus, new { @class = "m-wrap small" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OBonus)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">业务招待费：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OEntertainment, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OEntertainment)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">差旅交通费：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OTraffic, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OTraffic)</span>
                </div>
            </div>
           
            <div class="control-group">
                <label class="control-label">车辆费用：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OVehicle, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OVehicle)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">办公费：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OOffice, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OOffice)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">福利费：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OWelfare, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OWelfare)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">社会保障费：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OSecurity, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OSecurity)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">危险作业意外伤害保险费：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OAccidentInsurance, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OAccidentInsurance)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">住房公积金：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OHousingFund, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OHousingFund)</span>
                </div>
            </div>

             <div class="control-group">
                <label class="control-label">伙食费：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OMeals, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OMeals)</span>
                </div>
            </div>

               <div class="control-group">
                <label class="control-label">员工宿舍费用：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OAccommodation, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OAccommodation)</span>
                </div>
            </div>

             <div class="control-group">
                <label class="control-label">工会经费：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OUnion, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OUnion)</span>
                </div>
            </div>

             <div class="control-group">
                <label class="control-label">职工教育经费：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OEducation, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OEducation)</span>
                </div>
            </div>

             <div class="control-group">
                <label class="control-label">劳动保险费：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OlaborInsurance, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OlaborInsurance)</span>
                </div>
            </div>

             <div class="control-group">
                <label class="control-label">税金：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OFare, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OFare)</span>
                </div>
            </div>

             <div class="control-group">
                <label class="control-label">工程排污费：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OSewageCharges, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OSewageCharges)</span>
                </div>
            </div>

             <div class="control-group">
                <label class="control-label">工程定额测定费：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OMeasuring, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OMeasuring)</span>
                </div>
            </div>

             <div class="control-group">
                <label class="control-label">造价预算费：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OCost, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OCost)</span>
                </div>
            </div>

             <div class="control-group">
                <label class="control-label">财务费用：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OFinance, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OFinance)</span>
                </div>
            </div>

             <div class="control-group">
                <label class="control-label">无形资产摊销：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OInvisible, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OInvisible)</span>
                </div>
            </div>

             <div class="control-group">
                <label class="control-label">其他费用：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OOther, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OOther)</span>
                </div>
            </div>

            
           
        </div>
    </div>
}

