@using GMS.Framework.Contract
@using GMS.Framework.Utility
@using GMS.Framework.Web.Controls
@using GMS.Project.Contract

@model PagedList<InsOverhead>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PageSpecificStyleSheetIncludes{
    <style type="text/css">
       
    </style>
}



<div class="row-fluid">
    <div class="span4">
        <div>
            <a class="btn red" id="delete" href="javascript:;"><i class="icon-trash icon-white"></i>删除</a>
            <a class="btn blue thickbox" title='添加间接费预算' href="@Url.Action("Create")?TB_iframe=true&height=700&width=1000"><i class="icon-plus icon-white"></i>新增</a>

        </div>
    </div>

    <div class="span8">
        @using (Html.BeginForm(null, null, null, FormMethod.Get, new { id = "search" }))
        { 
            <div class="dataTables_filter">
                <label>
                    <button type="submit" class="btn">搜索 <i class="icon-search"></i></button>
                </label>
                 <label>
                    <span>项目：</span>
                    @Html.DropDownList("ProjectBasedataID", "所有项目")
                </label>
            </div>
        }
    </div>
</div>


@using (Html.BeginForm("Delete", "IOverhead", FormMethod.Post, new { id = "mainForm" }))
{
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th style="width: 8px;">
                    <input type="checkbox" id="checkall" class="group-checkable" />
                </th>
                <th>项目名称
                </th>
                <th>日期
                </th>
                <th>现场管理人员工资
                </th>
                <th>奖金
                </th>
                <th>业务招待费
                </th>

                <th>差旅交通费
                </th>
                <th>车辆费用
                </th>
                <th>办公费
                </th>
                <th>福利费
                </th>
                <th>社会保障费
                </th>
                <th>危险作业意外伤害保险费
                </th>
                <th>伙食费
                </th>
                <th>员工宿舍费用
                </th>
                <th>工会经费
                </th>
                <th>职工教育经费
                </th>
                <th>劳动保险费
                </th>

                <th>工程排污费
                </th>
                <th>工程定额测定费
                </th>
                <th>造价预算费
                </th>
                <th>财务费用
                </th>

                <th>其他费用
                </th>
                <th>税金
                </th>
                <th>总额
                </th>
                <th>备注
                </th> 
                <th>操作
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" class="checkboxes" name='ids' value='@m.ID' />
                    </td>
                  
                    <td>
                      @m.ProjectBasedata.PName
                    </td>
                      <td>
                        @m.Date
                    </td>
                    <td>
                         @(m.OPay == null ? "未预算" : ((int)m.OPay).ToString("N0"))
                    </td>
                    <td>
                        @(m.OBonus == null ? "未预算" : ((int)m.OBonus).ToString("N0"))
                    </td>

                    <td>
                          @(m.OEntertainment == null ? "未预算" : ((int)m.OEntertainment).ToString("N0"))
                    </td>

                    <td>
                           @(m.OTraffic == null ? "未预算" : ((int)m.OTraffic).ToString("N0"))

                    </td>
                    <td>
                          @(m.OVehicle == null ? "未预算" : ((int)m.OVehicle).ToString("N0"))

                    </td>
                    <td>
                           @(m.OOffice == null ? "未预算" : ((int)m.OOffice).ToString("N0"))

                    </td>
                    <td>
                       @(m.OWelfare == null ? "未预算" : ((int)m.OWelfare).ToString("N0"))

                    </td>
                    <td>
                         @(m.OSecurity == null ? "未预算" : ((int)m.OSecurity).ToString("N0"))

                    </td>
                    <td>
                          @(m.OAccidentInsurance == null ? "未预算" : ((int)m.OAccidentInsurance).ToString("N0"))

                    </td>

                    <td>
                      
                            @(m.OMeals == null ? "未预算" : ((int)m.OMeals).ToString("N0"))
                    </td>
                    <td>
                         @(m.OAccommodation == null ? "未预算" : ((int)m.OAccommodation).ToString("N0"))

                    </td>
                    <td>
                        @(m.OUnion == null ? "未预算" : ((int)m.OUnion).ToString("N0"))

                    </td>
                    <td>
                            @(m.OEducation == null ? "未预算" : ((int)m.OEducation).ToString("N0"))

                    </td>
                    <td>
                        @(m.OlaborInsurance == null ? "未预算" : ((int)m.OlaborInsurance).ToString("N0"))

                    </td>

                    <td>
                          @(m.OSewageCharges == null ? "未预算" : ((int)m.OSewageCharges).ToString("N0"))

                    </td>
                    <td>
                       @(m.OMeasuring == null ? "未预算" : ((int)m.OMeasuring).ToString("N0"))

                    </td>
                    <td>
                          @(m.OCost == null ? "未预算" : ((int)m.OCost).ToString("N0"))

                    </td>
                    <td>
                        @(m.OFinance == null ? "未预算" : ((int)m.OFinance).ToString("N0"))
                    </td>
                    <td>
                        @(m.OOther == null ? "未预算" : ((int)m.OOther).ToString("N0"))
                    </td>
                    <td>
                          @(m.OFare == null ? "未预算" : ((int)m.OFare).ToString("N0"))

                    </td>
                    <td>
                         @((m.OverheadTotal).ToString("N0"))

                    </td>
                    <td>
                        @m.Remark

                    </td>
                    <td style="width: 70px">
                        <a class="btn mini purple thickbox" title='编辑间接费预算' href="@Url.Action("Edit", new { id = m.ID })?TB_iframe=true&height=700&width=1000">
                            <i class="icon-edit"></i>
                            编辑
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="dataTables_paginate paging_bootstrap pagination">
    @Html.Pager(Model, new PagerOptions() { ShowTotalItemCount = true })
</div>

