@using GMS.Framework.Contract
@using GMS.Framework.Web.Controls
@using GMS.Project.Contract
@using GMS.Web
@model OfficeCtrl
@{
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}
@section PageSpecificStyleSheetIncludes{
}
@section PageSpecificJavascriptIncludes{
}
@section MainContent{
<div class="portlet-body form-horizontal form-bordered form-row-stripped">
<div class="container-fluid">
    <div class="row-fluid"> 
            <div class="span6 control-group">
                <label class="control-label"><span class="required">*</span>名称：</label>
                <div class="controls">
                @Html.TextBoxFor(m => m.Name, new { @class = "m-wrap" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
                </div>
            </div>
                @if (Model.oddnum != null)
                {
                <div class="span6 control-group">
                <label class="control-label">单号：</label>
                
                <div class="controls" >
                @Html.TextBoxFor(m => m.oddnum, new { Readonly = "true" })
                </div>
                </div>
                }
       </div>
       <div class="row-fluid"> 
            <div class="span6 control-group">
                <label class="control-label">数量：</label>
                
                <div class="controls">
                @Html.TextBoxFor(m=>m.num,new{@class="m-wrap"})
                </div>
            </div>
            <div class="span6 control-group">
                <label class="control-label">单位：</label>
                
                <div class="controls">
                @Html.TextBoxFor(m=>m.danwei,new{@class="m-wrap"})
                </div>

             </div>
        </div>

      <div class="row-fluid"> 
            <div class="span6 control-group">
                <label class="control-label">单价：</label>
                
                <div class="controls">
                @Html.TextBoxFor(m=>m.obb,new{@class="m-wrap"})
                </div>
            </div>
            @if(Model.ID!=0){
            <div class="span6 control-group">
                <label class="control-label">总价：</label>
                
                <div class="controls">
                @Html.TextBoxFor(m=>m.total,new{@class="m-wrap"})
                </div>

             </div>
            }
        </div>
        <div class="row-fluid"> 
            <div class="span6 control-group">
                <label class="control-label">规格：</label>
                
                <div class="controls">
                @Html.TextBoxFor(m=>m.guige,new{@class="m-wrap"})
                </div>
            </div>
            <div class="span6 control-group">
                <label class="control-label">品牌：</label>
                
                <div class="controls">
                @Html.TextBoxFor(m=>m.pinpai,new{@class="m-wrap"})
                </div>

             </div>
        </div>
                <div class="control-group">
              <label class="control-label">备注：</label>
              <div class="controls">
               @Html.TextAreaFor(m=>m.beizhu,new { style="height:215px;width:700px"})
               </div>
           </div>
            

    </div>
</div>
}