@using GMS.Framework.Contract
@using GMS.Framework.Utility
@using GMS.Framework.Web.Controls
@using GMS.Project.Contract

@model PagedList<MaterialCost>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PageSpecificStyleSheetIncludes{
    <style type="text/css">
       
    </style>
}



<div class="row-fluid">
    <div class="span4">
        <div>
          @*  <a class="btn red" id="delete" href="javascript:;"><i class="icon-trash icon-white"></i>删除</a>
            <a class="btn blue thickbox" title='添加机械费预算' href="@Url.Action("Create")?TB_iframe=true&height=350&width=1000"><i class="icon-plus icon-white"></i>新增</a>*@

        </div>
    </div>

    <div class="span8">
        @using (Html.BeginForm(null, null, null, FormMethod.Get, new { id = "search" }))
        { 
            <div class="dataTables_filter">
                <label>
                    <button type="submit" class="btn">搜索 <i class="icon-search"></i></button>
                </label>
                <label>
                    <span>项目名称：</span>
                    @Html.TextBox("ProjectName", null, new { @class = "m-wrap small" })
                </label>
            </div>
        }
    </div>
</div>


@using (Html.BeginForm("Delete", "ProjectBasedata", FormMethod.Post, new { id = "mainForm" }))
{
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th style="width: 8px;">
                    <input type="checkbox" id="checkall" class="group-checkable" />
                </th>           
                <th>项目名称
                </th>
                <th>钢材
                </th>
                <th>朔料管件及配件
                </th>
                <th>水泥及制品
                </th>

                <th>灰油
                </th>
                <th>电线电缆
                </th>
                <th>木竹及制品
                </th>
                <th>瓷砖类
                </th>
                <th>门窗型材及配件类
                </th>
                <th>玻璃及配件
                </th>

                <th>零星五金类
                </th>
                <th>电气及配件
                </th>

                <th>混凝土
                </th>
                <th>砖
                </th>
                <th>模板
                </th>
                <th>铝材
                </th>
                <th>材料检测费
                </th>
                <th>
                    砂浆王
                </th>
                <th>消防、通风、排烟
                </th>
                <th>周转材料租赁
                </th>
                <th>周转材料摊销
                </th>
                <th>其他材料费用
                </th>
                <th>
                    总额
                </th>
                <th>
                    备注
                </th>
                <th>操作
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" class="checkboxes" name='ids' value='@m.ID' />
                    </td>

                    @* <td>
                        @m.ProjectID
                    </td>*@
                    <td>
                        @m.ProjectName
                    </td>
                    <td>
                        @m.MSteel
                    </td>
                    <td>
                        @m.MHose
                    </td>

                    <td>
                        @m.MCement
                    </td>

                    <td>
                        @m.MGrayOil

                    </td>
                    <td>
                        @m.MWire

                    </td>
                    <td>
                        @m.MWood

                    </td>
                    <td>
                        @m.MCeramicTile

                    </td>
                    <td>
                        @m.MWindowsDoors

                    </td>
                    <td>
                        @m.MGalss

                    </td>

                    <td>
                        @m.MHardware

                    </td>
                    <td>
                        @m.MElectric

                    </td>
                    <td>
                        @m.MConcrete

                    </td>
                    <td>
                        @m.MBrick

                    </td>
                    <td>
                        @m.MTemplate

                    </td>
                    <td>
                        @m.MAluminum

                    </td>
                    <td>
                        @m.MTest

                    </td>
                    <td>
                        @m.MMortar

                    </td>
                    <td>
                        @m.MFireAirSmoke

                    </td>
                    <td>
                        @m.MTurnoverRent
                    </td>
                    <td>
                        @m.MTurnovers
                    </td>
                    <td>
                        @m.MOther
                    </td>
                    <td>
                        @m.MaterialTotal
                    </td>
                    <td>
                        @m.Remark
                    </td>

                    <td style="width: 70px">
                        <a class="btn mini purple thickbox" title='编辑分类内容' href="@Url.Action("Edit", new { id = m.ID })?TB_iframe=true&height=530&width=1000">
                            <i class="icon-edit"></i>
                            编辑
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="dataTables_paginate paging_bootstrap pagination">
    @Html.Pager(Model, new PagerOptions() { ShowTotalItemCount = true })
</div>

