@using GMS.Framework.Contract
@using GMS.Framework.Web.Controls
@using GMS.Project.Contract
@using GMS.Web
@model ProjectBasedata
@{
  
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}
@section PageSpecificStyleSheetIncludes{
      <style type="css/text">
          .control-group{
              width:50%;
              display:inline;
              float:left;
          }
   </style>
}
@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
       
   
   </script>
}
@section MainContent{

  

<div class="portlet-body form-horizontal form-bordered form-row-stripped">
    <div class="row-fluid"> 
              <div class="control-group" style="float:left;width:50%">
                <label class="control-label"><span class="required">项目</span>：</label>
                <div class="controls">
                @Html.TextBoxFor(m => m.PName, new { @class = "m-wrap large" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.PName)</span>
                </div>
            </div>

             <div class="control-group" style="float:left;width:50%">
                <label class="control-label "><span class="required"></span>位置：</label>
                <div class="controls ">
                @Html.TextBoxFor(m => m.PLocation, new { @class = "m-wrap large" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.PLocation)</span>
                </div>
            </div>
        

          <div class="control-group"  style="float:left;width:50%">
                <label class="control-label">开工时间：</label>
                <div class="controls">
                @Html.TextBoxFor(m => m.PSDate, new { @class = "m-wrap small" })
                @Html.Hidden("PSDate", string.IsNullOrEmpty(Request["PSDate"]) ? "0" : Request["PSDate"]) 
                </div>
            </div>

            <div class="control-group" style="float:left;width:50%">
                <label class="control-label" >工期：</label>
                <div class="controls">
                @Html.TextBoxFor(m => m.Pdate, new { @class = "m-wrap small" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.Pdate)</span>
                </div>
            </div>


            <div class="control-group" style="float:left;width:50%">
                <label class="control-label ">负责人：</label>
                <div class="controls">
                @Html.TextBoxFor(m => m.PCharger, new { @class = "m-wrap small" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.PCharger)</span>
                </div>
            </div>

            <div class="control-group" style="float:left;width:50%">
                <label class="control-label">电话：</label>
                <div class="controls">
                @Html.TextBoxFor(m => m.PPhone, new { @class = "m-wrap small" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.PPhone)</span>
                </div>
            </div>
     
     
           

        <div class="control-group" style="float:left;width:50%">
                <label class="control-label">规模：</label>
                <div class="controls">
                @Html.TextBoxFor(m => m.PScale, new { @class = "m-wrap" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.PScale)</span>
                </div>
            </div>

            <div class="control-group"style="float:left;width:50%">
                <label class="control-label">结构形式：</label>
                <div class="controls">
                @Html.TextBoxFor(m => m.PStructure, new { @class = "m-wrap large" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.PStructure)</span>
                </div>
            </div>

                 <div class="control-group"style="float:left;width:50%">
                <label class="control-label">资金来源：</label>
                <div class="controls">
                @Html.TextBoxFor(m => m.PFund, new { @class = "m-wrap large" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.PFund)</span>
                </div>
            </div>

        <div class="control-group" style="float:left;width:50%">
                <label class="control-label">报价：</label>
                <div class="controls">
                @Html.TextBoxFor(m => m.PPrice, new { @class = "m-wrap" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.PPrice)</span>
                </div>
            </div>

            <div class="control-group" style="float:left;width:90%">
                <label class="control-label">成本预算：</label>
                <div class="controls">
                @Html.TextBoxFor(m => m.PBuget, new { @class = "m-wrap large" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.PBuget)</span>
                </div>
            </div>     
        
         <div class="control-group" style="float:left;width:50%">
                <label class="control-label">内容：</label>
                <div class="controls" style="padding-top:10px">
                @Html.TextAreaFor(m => m.PContent,new{  @class = "m-wrap large"})
                <span class="help-inline">@Html.ValidationMessageFor(m => m.PContent)</span>
                </div>
            </div>
        
          <div class="control-group" style="float:left;width:50%">
                <label class="control-label">备注：</label>
                <div class="controls">
                     @Html.TextAreaFor(m => m.PRemark, new { @class = "m-wrap large" })
                @*@Html.TextArea("Remark", new { style="width:80%"})*@ 
                </div>
            </div>

      

         
    </div>
</div>
}
