@using GMS.Framework.Contract
@using GMS.Framework.Utility
@using GMS.Framework.Web.Controls
@using GMS.Project.Contract

@model MachineryCost
@{
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}
@section PageSpecificStyleSheetIncludes{
}
@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
    </script>
}
@section MainContent{
    <div class="portlet-body form-horizontal form-bordered form-row-stripped">
        <div class="row-fluid">
            <div class="control-group">
                <label class="control-label"><span class="required">*</span>项目名称：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.ProjectName, new { @class = "m-wrap" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.ProjectName)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">进退场费：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Transport, new { @class = "m-wrap small" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Transport)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">机械人员工资：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Operating, new { @class = "m-wrap small" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Operating)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">修理保养费：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Repair, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Repair)</span>
                </div>
            </div> 
            <div class="control-group">
                <label class="control-label">燃油费：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Fuel, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Fuel)</span>
                </div>
            </div>
           
            <div class="control-group">
                <label class="control-label">折旧费：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Depreciation, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Depreciation)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">车船税：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.TravelTax, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.TravelTax)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">其他费用：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OtherFee, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.OtherFee)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">备注：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Remark, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Remark)</span>
                </div>
            </div>
          
           
        </div>
    </div>
}

