@using GMS.Framework.Contract
@using GMS.Framework.Web.Controls
@using GMS.Project.Contract
@using GMS.Web
@model ProjectCtrl
@{
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}
@section PageSpecificStyleSheetIncludes{
}
@section PageSpecificJavascriptIncludes{
}
@section MainContent{

<div class="portlet-body form-horizontal form-bordered form-row-stripped">
<div class="container-fluid">
    <div class="row-fluid"> 
            <div class="span6 control-group">
                
                <label class="control-label"><span class="required">*</span>名称：</label>
                <div class="controls">
                @Html.TextBoxFor(m => m.Name, new { @class = "m-wrap" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
                </div>
            </div>
               
            <div class="span6 control-group">
                @if(Model.ID==0){
                <label class="control-label">所属项目：</label>
                
                <div class="controls">
                @Html.DropDownList("ProjectBasedataID")
                </div>
                    }
             </div>

    </div>


    <div class="row-fluid"> 
            <div class="span6 control-group">
                
               
                <label class="control-label">单价：</label>
                
                <div class="controls">
                @Html.TextBoxFor(m=>m.obb,new{@class="m-wrap"})
                </div>
            </div>
             <div class="span6 control-group">
                <label class="control-label">数量：</label>
                
                <div class="controls">
                @Html.TextBoxFor(m=>m.Num,new{@class="m-wrap"})
                </div>
            </div>
        <div class="row-fluid"> 
             <div class="span6 control-group">
                
                
                <label class="control-label">供应商：</label>
                
                <div class="controls">
                @Html.TextBoxFor(m=>m.Way,new{@class="m-wrap"})
                </div>
            </div>
             <div class="span6 control-group">
                 @if(Model.oddnum!=null){
                <label class="control-label">单号：</label>
                <div class="controls">
                @Html.TextBoxFor(m => m.oddnum, new {Readonly = "true" })
                
                </div>   
                }
            </div>

        </div>
        
             @if(Model.ID!=0){
                 <div class="row-fluid"> 
                <label class="control-label">合计：</label>
                <div class="controls">
                @Html.TextBoxFor(m => m.Total, new {Readonly = "true" })
                
                </div>
                </div>
                }

        <div class="row-fluid"> 
            <div class="control-group">
                
                 
                <label class="control-label">备注：</label>
                
                <div class="controls">
                @Html.TextAreaFor(m=>m.Stuffname,new { style="height:215px;width:700px"})
                </div>

           </div>

        </div>
    </div>
</div>


}